<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="../../static/news/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/news/css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="../../static/news/css/main.css">
    <script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../../static/news/js/jquery.pagination.min.js"></script>
    <script type="text/javascript" src="../../static/news/js/user_follow.js"></script>
</head>
<body class="inframe_body">
        <h3 class="common_title">我的关注</h3>
        <ul class="card_list_con">
            {% for user in data.users %}
                <li class="author_card card_list">
                    <a href="{{ url_for("profile.other_info") }}?user_id={{ user.id }}" target="_blank" class="author_pic"><img src="{% if user.avatar_url %}
            {{ user.avatar_url }}
            {% else %}
            ../../static/news/images/user_pic.png
            {% endif %}" alt="author_pic"></a>
                    <a href="{{ url_for("profile.other_info") }}?user_id={{ user.id }}" target="_blank" class="author_name">{{ user.nick_name }}</a>
                    <div class="author_resume">{{ user.signature }}</div>
                    <div class="writings"><span>总篇数</span><b>{{ user.news_count }}</b></div>
                    <div class="follows"><span>粉丝</span><b>{{ user.followers_count }}</b></div>
                    <div class="to_follow">

                        <a href="javascript:;" class="focused fr" data-userid="{{ user.id }}"><span class="out">已关注</span><span class="over">取消关注</span></a>

                    </div>

                </li>
            {% endfor %}
        </ul>
        
        
        <div id="pagination" class="page"></div>
        <script>
            $(function() {
                $("#pagination").pagination({
                    currentPage: {{ data.current_page }},
                    totalPage: {{ data.total_page }},
                    callback: function(current) {
                        window.location = "/user/user_follow?p=" + current
                    }
                });
            });
        </script>
</body>
</html>