{% extends 'news/base.html' %}

{% block  title_block%}用户中心{% endblock %}

{% block author_block %}{% endblock %}

{% block content_block %}
    <div class="user_menu_con fl">

        <div class="user_center_pic">
            <img src={% if data.user_info.avatar_url %}
                {{ data.user_info.avatar_url }}
            {% else %}
                "../../static/news/images/user_pic.png"
            {% endif %} alt="用户图片">
        </div>
        <div class="user_center_name">{{ data.user_info.nick_name }}</div>

        <ul class="option_list">
            <li class="active"><a href="{{ url_for('profile.base_info') }}" target="main_frame">基本资料</a></li>
            <li><a href="{{ url_for('profile.pic_info') }}" target="main_frame">头像设置</a></li>
            <li><a href="{{ url_for('profile.user_follow') }}" target="main_frame">我的关注</a></li>
            <li><a href="{{ url_for('profile.pass_info') }}" target="main_frame">密码修改</a></li>
            <li><a href="{{ url_for('profile.user_collection') }}" target="main_frame">我的收藏</a></li>
            <li><a href="{{ url_for('profile.news_release') }}" target="main_frame">新闻发布</a></li>
            <li><a href="{{ url_for('profile.user_news_list') }}" target="main_frame">新闻列表</a></li>
        </ul>
    </div>

    <div class="user_con fr">
        <iframe src="{{ url_for('profile.base_info') }}" frameborder="0" name="main_frame" class="main_frame" id="main_frame"></iframe>
    </div>
{% endblock %}

{% block category_block %}{% endblock %}

{% block rank_block %}{% endblock %}



