amqp==2.4.2
asn1crypto==0.24.0
astroid==2.1.0
attrs==19.1.0
Automat==0.7.0
autopep8==1.4.3
billiard==3.6.0.0
celery==4.3.0
certifi==2019.3.9
cffi==1.11.5
chardet==3.0.4
colorama==0.4.1
constantly==15.1.0
cryptography==2.6.1
cssselect==1.0.3
Django==2.1.7
django-redis==4.10.0
djangorestframework==3.9.2
djangorestframework-stubs==0.4.2
dnspython==1.15.0
dnspython3==1.15.0
entrypoints==0.3
flake8==3.7.5
future==0.17.1
gevent==1.4.0
greenlet==0.4.15
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
isort==4.3.4
kombu==4.5.0
lazy-object-proxy==1.3.1
lxml==4.3.3
mccabe==0.6.1
mysql-connector-python==8.0.14
parsel==1.5.1
Pillow==6.0.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycodestyle==2.5.0
pycparser==2.19
PyDispatcher==2.0.5
pyflakes==2.1.0
pygame==1.9.4
PyHamcrest==1.9.0
pylint==2.2.2
pymongo==3.8.0
PyMySQL==0.9.3
pyOpenSSL==19.0.0
pypiwin32==223
pytesseract==0.2.6
pytz==2018.9
pywin32==224
queuelib==1.5.0
redis==3.2.1
requests==2.21.0
Scrapy==1.6.0
scrapy-redis==0.6.8
selenium==3.141.0
serializers==0.2.4
service-identity==18.1.0
six==1.12.0
Twisted==19.2.0
urllib3==1.24.2
vine==1.3.0
w3lib==1.20.0
wrapt==1.11.1
yapf==0.26.0
zope.interface==4.6.0
